@import "./base.scss";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&display=swap");

body {
  background-image: url(./assets/images/back3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(2px 4px 6px black);
  background-attachment: fixed;
  font-family: "Baloo Tammudu 2", cursive;
}

.container {
  min-height: 80vh;
  align-content: center;
}

.movies {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 20px;
    margin: 1% auto;
    min-height: 80vh;
    align-content: center;
    width: max-content;
  }
}

.hide {
  display: none;
}

.card {
  &__item {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #03283ead;
    justify-self: baseline;
    min-width: 420px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background: #03283ead;
    }
  }

  &__title {
    font-size: 25px;
  }

  &__subtitle {
    font-size: 20px;
  }

  &__image {
    height: 650px;
    padding-bottom: 15px;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px 10px;
  justify-items: center;
  width: 70%;
  &__score {
    font-size: 18px;
    color: #ff9613;
    font-weight: 900;
  }

  &__date {
    font-size: 16px;
  }

  &__genre {
    grid-column: 1 / 3;
    text-align: center;
    color: #dc7125;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
  }
}

.movie {
  &__item {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-block: 50px;
    background: #03283ead;
  }

  &__content {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: left;
    padding: 0 5%;

    .info {
      width: 35%;
      &__date {
        font-size: 18px;
      }
    }
  }

  &__title {
    font-size: 33px;
    font-weight: 900;
  }

  &__description {
    line-height: 28px;
    font-size: 18px;
  }

  &__image {
    min-height: 750px;
    align-self: center;
  }
}

.button {
  &__back {
    color: #dc7125;
    position: fixed;
    top: 2%;
    left: 2%;
    background: #031c2ba6;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 3px;
  }
}